这是一封来自musichttp的邮件<br/>
<br/>
<b>主题 :</b> <%= @subject %>
<br/>
<br/>
  &nbsp;&nbsp;&nbsp;&nbsp;<%= @message %>
<br/><br/><br/>
<small>消息来自于 : <%= " (#{@sender})" %>.本条消息属于微一系统邮件消息，请勿回复!<br/>
<p>感谢您对我们的信任和支持~musichttp致力于为你提供更加优质全面的服务！</p>
</small>