<div class="block_bg block_middle">
  <div class="block_1">
    <h1>消　息</h1>
      <%= simple_form_for(@post_product,wrapper: :vertical_form) do |f| %>
      <%= render 'fields', f: f %>
      
      <div  class="button_div">
      	<%= f.submit "创建",class: "btn btn-large btn-primary" %>
      </div>
      
      <% end %>
  </div>
</div>