<div  class="block_bg block_right">
    <div class="headline_title">
      <div class="messages_root"></div>
      <label>消息</label>
      <div class="crumbs">
        <a href="/main" title="返回首页">
          <div class="icon_home"></div>
        </a>
        <ul>
          <li>首页</li>
          <li>/</li>
          <li>消息</li>
        </ul>
      </div>
    </div>
</div>