
<div class="block_bg block_middle">
  <div class="block_1">
    <h1>消　息</h1>
      <%= simple_form_for(@micropost,wrapper: :vertical_form) do |f| %>
      <%= f.text_area :content, style: "width:100%", rows: "5" %>
      <div  class="button_div">
      	<%= f.submit "创建",class: "btn btn-large btn-primary" %>
      </div>
      
      <% end %>
  </div>
</div>